.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  border-radius: 11px;
}

#close {
  float: right;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
