body {
  font-family: sans-serif;
  background: #f4f4f4;
  margin: 0;
}

header {
  background: #d60000;
  color: white;
  text-align: center;
  padding: 15px;
}

.news {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.news:hover {
  transform: scale(1.02);
}

button {
  width: 100%;
  padding: 15px;
  background: black;
  color: white;
  border: none;
}
